/* Write your CSS here */
.button {
  border: 1px solid #ff0b37;
  color: #ff0b37;
  background-color: transparent;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  outline: none;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
